{% extends 'base.html' %}

{% block content %}
    
<h1>This is the List of all the Tasks you're assigned</h1>

{% for task in tasks %}
    <div class="task">
        <h2><a href="{% url 'view_task' task.id %}">{{ task.assigned_by.name }}'s {{ task.category }}</a></h2>
        <p>{{ task.description }}</p>
        <p>Start Date: {{ task.start_date }}</p>
        <p>End Date: {{ task.end_date }}</p>
        <br>
    </div>
{% empty %}
    <p>No tasks assigned.</p>
{% endfor %}

{% endblock content %}